*{

margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
transition: background-color 0.4s ease , color 0.4s ease;

}

:root {
    --bg-body: #10161a;      
    --bg-container: #2c3e50;  
    --bg-input: #34495e;    
    --bg-footer: #0a1114;    --color-text-primary: #ecf0f1;
    --color-text-secondary: #bdc3c7; 
    --color-text-input: #ffffff; 
    --color-highlight: #f1c40f; 
    --color-success: #2ecc71;    
    --color-error: #e74c3c;     
    --border-color: #34495e;
    --box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    --gradient-start: #1c2635;
    --gradient-end: #10161a;

}


body.light-theme {
    --bg-body: #6d1750;
    --bg-container: #ffffff;
    --bg-input: #e4e6e9;
    --bg-footer: #ccc;

    --color-text-primary: #333;
    --color-text-secondary: #666;
    --color-text-input: #333;
    
    --color-highlight: #2c3e50;
    --border-color: #bdc3c7;
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

body{

background-color: var(--bg-body);
background-image: url(./img/img.jpg);
background-size: cover;
background-repeat: no-repeat;
color: var(--color-text-primary);
display: flex;
flex-direction: column;
min-height: 100vh;
align-items: center;
padding: 90px 0 80px 0;

}

.container {

background-color:  var(--bg-container);
padding: 30px;
border-radius: 12px;
box-shadow: var(--box-shadow);
width: 91%;
max-width: 450px;
text-align: center;



}

h1{

color: var(--color-highlight);
margin-bottom: 25px;
font-size: 1.8em;
}

.input-group {


text-align: left;
margin-bottom: 20px;
}

label {


display: block;
margin-bottom: 8px;
font-weight: bold;
color: var(--color-text-secondary);
font-size: 1.1em;

}

input [type="number"] {

width: 100%;
padding: 16px 12px;
border: 1px solid var(--border-color);
border-radius: 5px;
background-color: var(--bg-input);
color: var(--color-text-input);
font-size: 1.2em;

}

input[type="number"]::placeholder {
    color: rgba(255, 255, 255, 0.4); 
    font-size: 0.9em;
}

input[type="number"]:focus {
    outline: none; 
    border-color: var(--color-highlight); 
    box-shadow: 0 0 8px var(--color-highlight);
}

button{

padding: 12px 25px;
margin: 10px 5px;
border: none;
border-radius: 5px;
cursor: pointer;
font-weight: bold;
font-size: 1em;
transition: background-color 0.2s;

}

#btn-calcular {

    background-color: var(--color-error);
    color: white;
}

#btn-calcular:hover {
    background-color: #27ae60; 
}

#btn-limpar:hover {
    background-color: #c0392b;
}

#resultados{

    margin-top: 30px;
    padding: 15px;
    border-top: 2px solid var(--border-color);
    text-align: left;

}

#resultados h2 {

color: var(--color-success);
margin-bottom: 15px;
font-size: 1.5em;

}

#resultados span {

font-weight: bold;
color:  var(--color-success);
font-size: 1.1em;

}

.oculto {

display: none;


}

footer {

width: 100%;
padding: 20px 0;
text-align: center;
background-color:  var(--bg-footer);
color: var(--color-text-primary);
font-size: 1em;
position: fixed;
bottom: 0;
box-shadow: 0 -3px 15px rgba(0, 0, 0, 0.7);
z-index: 100;
}

footer a {
    color: var(--color-success); 
    font-weight: bold;
    text-decoration: none;
}



body.light-theme footer {
    
    --bg-footer: #aeb5bb; 
    color: #333;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);

}

footer a:hover {
    color: #4cd137; 
    text-decoration: underline;
}


body.light-theme footer:hover {
   
    background-color: #999999;
    color: #333;
}